<!DOCTYPE html>
<html lang="en" xmlns: th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia Egg</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Iconos Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Customer CSS -->
    <link href="../static/styleVistaUsuario.css" rel="stylesheet">
</head>
<body style="background: #000046;
                      background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
                      background: linear-gradient(to right, #1CB5E0, #000046);">
    
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="bi bi-journal-bookmark-fill"></i>SGNoticia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <!--<a class="nav-link" aria-current="page" href="#">Ver como Usuario</a>-->
                    <a class="nav-link" th:href="@{/panelAdmin/gestionar}"><i class="bi bi-phone-flip" style="color: white; margin-right: 5px"></i>Ver como Administrador</a>
                </div>
            </div>
        </div>
    </nav>

    
        <!--Titulo-->
        <h1 class="my-3" style="text-align: center; color: rgb(197, 226, 250)"> Noticias de EGG </h1>   
        <br>
    <!-- Cotenedor vista usuario -->

    <div class="container-md my-3 d-flex">
        

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col-12" th:each="noticia:${vistaInicio}">
                <div class="card text-bg-dark mb-3 container-fluid" style="text-align: center; max-width: 100%; display: block; height: auto;">
                    <div class="card-body" style="text-align: center;">
                        <h5 th:text="${noticia.nombre}" class="card-title">Titulo</h5>
                        <p th:text="${noticia.getSubstringDelCuepo()}" class="card-text" style="font-family: monospace; padding: 15px;">Cuepo</p>
                        <a th:href="@{/noticia/leer/__${noticia.id}__}" class="btn btn-primary"><i class="bi bi-eye" style="margin-right: 5px"></i>Ver mas</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>